{
  "x-generator": "NSwag v13.15.10.0 (NJsonSchema v10.6.10.0 (Newtonsoft.Json v13.0.0.0))",
  "openapi": "3.0.0",
  "info": {
    "title": "Tabla Api",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://planera.yoda.sr.se/tabla-api"
    }
  ],
  "paths": {
    "/Batches/{id}": {
      "get": {
        "tags": [
          "Batches"
        ],
        "operationId": "Batches_Get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 1
          },
          {
            "name": "includeDiscardedScheduledItems",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Batch"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/Batches/GetByGuid/{guid}": {
      "get": {
        "tags": [
          "Batches"
        ],
        "operationId": "Batches_GetByGuid",
        "parameters": [
          {
            "name": "guid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 1
          },
          {
            "name": "includeDiscardedScheduledItems",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Batch"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/Batches/Search": {
      "get": {
        "tags": [
          "Batches"
        ],
        "operationId": "Batches_Search",
        "parameters": [
          {
            "name": "channelGuids",
            "in": "query",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "nullable": true,
              "items": {
                "type": "string",
                "format": "guid"
              }
            },
            "x-position": 1
          },
          {
            "name": "includeDiscardedScheduledItems",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Batch"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Batches/CreateOrUpdate": {
      "post": {
        "tags": [
          "Batches"
        ],
        "operationId": "Batches_CreateOrUpdate",
        "parameters": [
          {
            "type": "string",
            "name": "X-User-Id",
            "in": "header",
            "required": true,
            "description": "Editing username or Active Directory id on behalf of whom the operation is performed."
          },
          {
            "type": "string",
            "name": "X-User-Agent",
            "in": "header",
            "required": true,
            "description": "Editing user agent."
          }
        ],
        "requestBody": {
          "x-name": "batch",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Batch"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Batch"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/CoBroadcasts/Get": {
      "get": {
        "tags": [
          "CoBroadcasts"
        ],
        "operationId": "CoBroadcasts_Get",
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "nullable": true,
              "items": {
                "type": "integer",
                "format": "int32"
              }
            },
            "x-position": 1
          },
          {
            "name": "dateInHistory",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            },
            "x-position": 2
          },
          {
            "name": "onlyPublished",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "x-position": 3
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CoBroadcast"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/CoBroadcasts/GetByGuid": {
      "get": {
        "tags": [
          "CoBroadcasts"
        ],
        "operationId": "CoBroadcasts_GetByGuid",
        "parameters": [
          {
            "name": "guids",
            "in": "query",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "nullable": true,
              "items": {
                "type": "string",
                "format": "guid"
              }
            },
            "x-position": 1
          },
          {
            "name": "dateInHistory",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            },
            "x-position": 2
          },
          {
            "name": "onlyPublished",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "x-position": 3
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CoBroadcast"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/CoBroadcasts/CreateOrUpdate": {
      "post": {
        "tags": [
          "CoBroadcasts"
        ],
        "operationId": "CoBroadcasts_CreateOrUpdate",
        "parameters": [
          {
            "type": "string",
            "name": "X-User-Id",
            "in": "header",
            "required": true,
            "description": "Editing username or Active Directory id on behalf of whom the operation is performed."
          },
          {
            "type": "string",
            "name": "X-User-Agent",
            "in": "header",
            "required": true,
            "description": "Editing user agent."
          }
        ],
        "requestBody": {
          "x-name": "coBroadcasts",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/CoBroadcast"
                }
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CoBroadcast"
                  }
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/Days/{id}": {
      "get": {
        "tags": [
          "Days"
        ],
        "operationId": "Days_Get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 1
          },
          {
            "name": "includeDiscardedScheduledItems",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Day"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/Days/GetByGuid/{guid}": {
      "get": {
        "tags": [
          "Days"
        ],
        "operationId": "Days_GetByGuid",
        "parameters": [
          {
            "name": "guid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 1
          },
          {
            "name": "includeDiscardedScheduledItems",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Day"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/Days/Search": {
      "get": {
        "tags": [
          "Days"
        ],
        "operationId": "Days_Search",
        "parameters": [
          {
            "name": "channelGuid",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 1
          },
          {
            "name": "fromDateUtc",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "x-position": 2
          },
          {
            "name": "toDateUtc",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "x-position": 3
          },
          {
            "name": "onlyPublished",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "x-position": 4
          },
          {
            "name": "includeDiscardedScheduledItems",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "x-position": 5
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Day"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Days/CreateOrUpdate": {
      "post": {
        "tags": [
          "Days"
        ],
        "operationId": "Days_CreateOrUpdate",
        "parameters": [
          {
            "type": "string",
            "name": "X-User-Id",
            "in": "header",
            "required": true,
            "description": "Editing username or Active Directory id on behalf of whom the operation is performed."
          },
          {
            "type": "string",
            "name": "X-User-Agent",
            "in": "header",
            "required": true,
            "description": "Editing user agent."
          }
        ],
        "requestBody": {
          "x-name": "days",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Day"
                }
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Day"
                  }
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/Errors/Info": {
      "get": {
        "tags": [
          "Errors"
        ],
        "operationId": "Errors_Info",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/Posts/Get": {
      "get": {
        "tags": [
          "Posts"
        ],
        "operationId": "Posts_Get",
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "nullable": true,
              "items": {
                "type": "integer",
                "format": "int32"
              }
            },
            "x-position": 1
          },
          {
            "name": "dateInHistory",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            },
            "x-position": 2
          },
          {
            "name": "onlyPublished",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "x-position": 3
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Post"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Posts/GetByGuid": {
      "get": {
        "tags": [
          "Posts"
        ],
        "operationId": "Posts_GetByGuid",
        "parameters": [
          {
            "name": "guids",
            "in": "query",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "nullable": true,
              "items": {
                "type": "string",
                "format": "guid"
              }
            },
            "x-position": 1
          },
          {
            "name": "dateInHistory",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            },
            "x-position": 2
          },
          {
            "name": "onlyPublished",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "x-position": 3
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Post"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Posts/History/{id}": {
      "get": {
        "tags": [
          "Posts"
        ],
        "operationId": "Posts_GetHistory",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PostHistory"
                  }
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/Posts/HistoryByGuid/{guid}": {
      "get": {
        "tags": [
          "Posts"
        ],
        "operationId": "Posts_HistoryByGuid",
        "parameters": [
          {
            "name": "guid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PostHistory"
                  }
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/Posts/CreateOrUpdate": {
      "post": {
        "tags": [
          "Posts"
        ],
        "operationId": "Posts_CreateOrUpdate",
        "parameters": [
          {
            "type": "string",
            "name": "X-User-Id",
            "in": "header",
            "required": true,
            "description": "Editing username or Active Directory id on behalf of whom the operation is performed."
          },
          {
            "type": "string",
            "name": "X-User-Agent",
            "in": "header",
            "required": true,
            "description": "Editing user agent."
          }
        ],
        "requestBody": {
          "x-name": "posts",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Post"
                }
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Post"
                  }
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Batch": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Base"
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "channelGuid": {
                "type": "string",
                "format": "guid"
              },
              "description": {
                "type": "string",
                "nullable": true
              },
              "startDateUtc": {
                "type": "string",
                "format": "date-time"
              },
              "endDateUtc": {
                "type": "string",
                "format": "date-time"
              },
              "isDiscarded": {
                "type": "boolean"
              },
              "repeatSetting": {
                "$ref": "#/components/schemas/RepeatSetting"
              },
              "basePostId": {
                "type": "integer",
                "format": "int32",
                "nullable": true
              },
              "basePostGuid": {
                "type": "string",
                "format": "guid",
                "nullable": true
              },
              "baseCoBroadcastId": {
                "type": "integer",
                "format": "int32",
                "nullable": true
              },
              "baseCoBroadcastGuid": {
                "type": "string",
                "format": "guid",
                "nullable": true
              },
              "postIds": {
                "type": "array",
                "nullable": true,
                "items": {
                  "type": "integer",
                  "format": "int32"
                }
              },
              "postGuids": {
                "type": "array",
                "nullable": true,
                "items": {
                  "type": "string",
                  "format": "guid"
                }
              },
              "coBroadcastIds": {
                "type": "array",
                "nullable": true,
                "items": {
                  "type": "integer",
                  "format": "int32"
                }
              },
              "coBroadcastGuids": {
                "type": "array",
                "nullable": true,
                "items": {
                  "type": "string",
                  "format": "guid"
                }
              }
            }
          }
        ]
      },
      "RepeatSetting": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "interval": {
            "$ref": "#/components/schemas/WeekInterval"
          },
          "dayIndexes": {
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            }
          }
        }
      },
      "WeekInterval": {
        "type": "integer",
        "description": "",
        "x-enumNames": [
          "All",
          "EvenWeeks",
          "OddWeeks"
        ],
        "enum": [
          0,
          1,
          2
        ]
      },
      "Base": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "guid": {
            "type": "string",
            "format": "guid"
          },
          "createdDateUtc": {
            "type": "string",
            "format": "date-time"
          },
          "updatedDateUtc": {
            "type": "string",
            "format": "date-time"
          },
          "createdBy": {
            "type": "string",
            "nullable": true
          },
          "updatedBy": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "ProblemDetails": {
        "type": "object",
        "additionalProperties": {
          "nullable": true
        },
        "properties": {
          "type": {
            "type": "string",
            "nullable": true
          },
          "title": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "detail": {
            "type": "string",
            "nullable": true
          },
          "instance": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "CoBroadcast": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Base"
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "sourceId": {
                "type": "string"
              },
              "sourceSystem": {
                "type": "string"
              },
              "batchId": {
                "type": "integer",
                "format": "int32",
                "nullable": true
              },
              "batchGuid": {
                "type": "string",
                "format": "guid",
                "nullable": true
              },
              "startTimeUtc": {
                "type": "string",
                "format": "date-time"
              },
              "endTimeUtc": {
                "type": "string",
                "format": "date-time"
              },
              "isDiscarded": {
                "type": "boolean"
              },
              "isDeleted": {
                "type": "boolean"
              },
              "isTemplate": {
                "type": "boolean"
              },
              "channelGuid": {
                "type": "string",
                "format": "guid"
              },
              "dayIds": {
                "type": "array",
                "items": {
                  "type": "integer",
                  "format": "int32"
                }
              },
              "dayGuids": {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "guid"
                }
              }
            }
          }
        ]
      },
      "Day": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Base"
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "channelGuid": {
                "type": "string",
                "format": "guid"
              },
              "dateUtc": {
                "type": "string",
                "format": "date-time"
              },
              "isPublished": {
                "type": "boolean"
              },
              "publishedDateUtc": {
                "type": "string",
                "format": "date-time",
                "nullable": true
              },
              "postIds": {
                "type": "array",
                "items": {
                  "type": "integer",
                  "format": "int32"
                }
              },
              "postGuids": {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "guid"
                }
              },
              "coBroadcastIds": {
                "type": "array",
                "items": {
                  "type": "integer",
                  "format": "int32"
                }
              },
              "coBroadcastGuids": {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "guid"
                }
              }
            }
          }
        ]
      },
      "Post": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Base"
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "programGuid": {
                "type": "string",
                "format": "guid"
              },
              "additionalTitle": {
                "type": "string",
                "nullable": true
              },
              "batchId": {
                "type": "integer",
                "format": "int32",
                "nullable": true
              },
              "batchGuid": {
                "type": "string",
                "format": "guid",
                "nullable": true
              },
              "startTimeUtc": {
                "type": "string",
                "format": "date-time"
              },
              "endTimeUtc": {
                "type": "string",
                "format": "date-time"
              },
              "isDiscarded": {
                "type": "boolean"
              },
              "isDeleted": {
                "type": "boolean"
              },
              "isTemplate": {
                "type": "boolean"
              },
              "channelGuid": {
                "type": "string",
                "format": "guid"
              },
              "dayIds": {
                "type": "array",
                "items": {
                  "type": "integer",
                  "format": "int32"
                }
              },
              "dayGuids": {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "guid"
                }
              },
              "broadcastTreeIds": {
                "type": "array",
                "items": {
                  "type": "integer",
                  "format": "int32"
                }
              },
              "broadcastSettings": {
                "nullable": true,
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/BroadcastSetting"
                  }
                ]
              },
              "recordingSettings": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/RecordingSetting"
                }
              }
            }
          }
        ]
      },
      "BroadcastSetting": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "location": {
            "type": "string",
            "nullable": true
          },
          "studio": {
            "type": "string",
            "nullable": true
          },
          "contact": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "RecordingSetting": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "type": {
            "$ref": "#/components/schemas/RecordingType"
          },
          "offset": {
            "$ref": "#/components/schemas/AvailabilityOffset"
          },
          "date": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "RecordingType": {
        "type": "integer",
        "description": "",
        "x-enumNames": [
          "Default",
          "Pod"
        ],
        "enum": [
          0,
          1
        ]
      },
      "AvailabilityOffset": {
        "type": "integer",
        "description": "",
        "x-enumNames": [
          "SpecificDate",
          "Month",
          "Year",
          "Forever"
        ],
        "enum": [
          0,
          1,
          2,
          3
        ]
      },
      "PostHistory": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "action": {
            "type": "string"
          },
          "actionDate": {
            "type": "string",
            "format": "date-time"
          },
          "post": {
            "$ref": "#/components/schemas/Post"
          }
        }
      }
    },
    "securitySchemes": {
      "Bearer": {
        "type": "apiKey",
        "description": "Please enter the word \"Bearer\" followed by space and token",
        "name": "Authorization",
        "in": "header"
      }
    }
  }
}