{
  "x-generator": "NSwag v13.15.10.0 (NJsonSchema v10.6.10.0 (Newtonsoft.Json v13.0.0.0))",
  "openapi": "3.0.0",
  "info": {
    "title": "Utbud Api",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://planera.yoda.sr.se/utbud-api"
    }
  ],
  "paths": {
    "/Channels/Get": {
      "get": {
        "tags": [
          "Channels"
        ],
        "operationId": "Channels_Get",
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "nullable": true,
              "items": {
                "type": "integer",
                "format": "int32"
              }
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Channel"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Channels/GetByGuid": {
      "get": {
        "tags": [
          "Channels"
        ],
        "operationId": "Channels_GetByGuid",
        "parameters": [
          {
            "name": "guids",
            "in": "query",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "nullable": true,
              "items": {
                "type": "string",
                "format": "guid"
              }
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Channel"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Channels/List": {
      "get": {
        "tags": [
          "Channels"
        ],
        "operationId": "Channels_List",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Channel"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Channels/CreateOrUpdate": {
      "post": {
        "tags": [
          "Channels"
        ],
        "operationId": "Channels_CreateOrUpdate",
        "parameters": [
          {
            "type": "string",
            "name": "X-User-Id",
            "in": "header",
            "required": true,
            "description": "Editing username or Active Directory id"
          },
          {
            "type": "string",
            "name": "X-User-Agent",
            "in": "header",
            "required": true,
            "description": "Editing user agent."
          }
        ],
        "requestBody": {
          "x-name": "channel",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Channel"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Channel"
                }
              }
            }
          },
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Channel"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/Errors/Info": {
      "get": {
        "tags": [
          "Errors"
        ],
        "operationId": "Errors_Info",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/Programs/Get": {
      "get": {
        "tags": [
          "Programs"
        ],
        "operationId": "Programs_Get",
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "nullable": true,
              "items": {
                "type": "integer",
                "format": "int32"
              }
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Program"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Programs/GetByGuid": {
      "get": {
        "tags": [
          "Programs"
        ],
        "operationId": "Programs_GetByGuid",
        "parameters": [
          {
            "name": "guids",
            "in": "query",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "nullable": true,
              "items": {
                "type": "string",
                "format": "guid"
              }
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Program"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Programs/Search": {
      "get": {
        "tags": [
          "Programs"
        ],
        "operationId": "Programs_Search",
        "parameters": [
          {
            "name": "channelIds",
            "in": "query",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "nullable": true,
              "items": {
                "type": "integer",
                "format": "int32"
              }
            },
            "x-position": 1
          },
          {
            "name": "channelGuids",
            "in": "query",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "nullable": true,
              "items": {
                "type": "string",
                "format": "guid"
              }
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Program"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Programs/CreateOrUpdate": {
      "post": {
        "tags": [
          "Programs"
        ],
        "operationId": "Programs_CreateOrUpdate",
        "parameters": [
          {
            "type": "string",
            "name": "X-User-Id",
            "in": "header",
            "required": true,
            "description": "Editing username or Active Directory id"
          },
          {
            "type": "string",
            "name": "X-User-Agent",
            "in": "header",
            "required": true,
            "description": "Editing user agent."
          }
        ],
        "requestBody": {
          "x-name": "program",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Program"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Program"
                }
              }
            }
          },
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Program"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Channel": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Base"
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "id": {
                "type": "integer",
                "format": "int32"
              },
              "guid": {
                "type": "string",
                "format": "guid"
              },
              "name": {
                "type": "string"
              },
              "icon": {
                "type": "string",
                "nullable": true
              },
              "serviceIdFromOldTabla": {
                "type": "integer",
                "format": "int32"
              },
              "isidorPageId": {
                "type": "integer",
                "format": "int32"
              },
              "programIds": {
                "type": "array",
                "nullable": true,
                "items": {
                  "type": "integer",
                  "format": "int32"
                }
              },
              "programGuids": {
                "type": "array",
                "nullable": true,
                "items": {
                  "type": "string",
                  "format": "guid"
                }
              }
            }
          }
        ]
      },
      "Base": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "createdDateUtc": {
            "type": "string",
            "format": "date-time"
          },
          "updatedDateUtc": {
            "type": "string",
            "format": "date-time"
          },
          "createdBy": {
            "type": "string",
            "nullable": true
          },
          "updatedBy": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "ProblemDetails": {
        "type": "object",
        "additionalProperties": {
          "nullable": true
        },
        "properties": {
          "type": {
            "type": "string",
            "nullable": true
          },
          "title": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "detail": {
            "type": "string",
            "nullable": true
          },
          "instance": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "Program": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Base"
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "id": {
                "type": "integer",
                "format": "int32"
              },
              "guid": {
                "type": "string",
                "format": "guid"
              },
              "name": {
                "type": "string"
              },
              "isidorPageId": {
                "type": "integer",
                "format": "int32",
                "nullable": true
              },
              "defaultBroadcastTreeIds": {
                "type": "array",
                "items": {
                  "type": "integer",
                  "format": "int32"
                }
              },
              "defaultBroadcastSettings": {
                "nullable": true,
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/BroadcastSetting"
                  }
                ]
              },
              "defaultRecordingSettings": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/RecordingSetting"
                }
              },
              "channelIds": {
                "type": "array",
                "nullable": true,
                "items": {
                  "type": "integer",
                  "format": "int32"
                }
              },
              "channelGuids": {
                "type": "array",
                "nullable": true,
                "items": {
                  "type": "string",
                  "format": "guid"
                }
              }
            }
          }
        ]
      },
      "BroadcastSetting": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "location": {
            "type": "string",
            "nullable": true
          },
          "studio": {
            "type": "string",
            "nullable": true
          },
          "contact": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "RecordingSetting": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "type": {
            "$ref": "#/components/schemas/RecordingType"
          },
          "offset": {
            "$ref": "#/components/schemas/AvailabilityOffset"
          },
          "date": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "RecordingType": {
        "type": "integer",
        "description": "",
        "x-enumNames": [
          "Default",
          "Pod"
        ],
        "enum": [
          0,
          1
        ]
      },
      "AvailabilityOffset": {
        "type": "integer",
        "description": "",
        "x-enumNames": [
          "SpecificDate",
          "Month",
          "Year",
          "Forever"
        ],
        "enum": [
          0,
          1,
          2,
          3
        ]
      }
    }
  }
}